* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #ff5b2e;
    --font-heading: "Sora", sans-serif;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;
    min-width: 189px;
    height: var(--height);
    display: inline-block;
    color: #000958;
    border-radius: 999px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    background-color: var(--primary-color);
    line-height: var(--height);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.section-heading {
    color: #000958;
    font-family: var(--font-heading);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.section-heading.lv1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.section-title {
    margin-bottom: 15px;
    text-align: center;
    font-family: var(--font-heading);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    color: #5e6085;
}

/* ================= Header ================= */
.fixed {
    position: sticky;
    top: -18px;
    background-color: #fffaf5;
    z-index: 99;
}

.header {
    padding: 26px 0;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    padding: 0 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    transition: color, text-shadow;
    transition-duration: 0.25s;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header__btn {
    --height: 50px;
    background-color: transparent;
    min-width: 117px;
    height: var(--height);
}

/* ================= Hero ================= */
.hero {
    padding: 74px 0;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

/* Hero Media */
.hero-media {
    display: flex;
    padding-bottom: 94px;
    position: relative;
}

.hero-media__wrap {
    width: 388px;
    height: 488px;
    background: #fe997b;
    border: 3px solid #fff;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.hero-media__img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    object-fit: cover;
    display: block;
    border-radius: inherit;
}

.hero-media__thumb {
    margin: 0 0 -58px -23px;
    width: 186px;
    height: 244px;
    border: 2px solid #fcdee1;
    background: #faa7ad;
    align-self: flex-end;
}

.hero-media__rectangle {
    position: absolute;
    top: 16px;
    right: -40px;
    z-index: -1;
}

.hero-media__circle {
    position: absolute;
    bottom: 10px;
    left: -58px;
    z-index: -1;
}

.hero-card {
    padding: 18px 14px;
    width: 250px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    position: absolute;
    left: 129px;
    bottom: 0;
}

.hero-card__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.hero-card__thumb {
    background: #fec23f;
    width: 40px;
    height: 40px;
    border-radius: 12px;
}

.hero-card__item:nth-child(3) .hero-card__thumb {
    background: #6597c2;
}

.hero-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-card__title {
    color: #181e52;
    font-family: var(--font-heading);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-card__skeleton {
    margin-top: 7px;
    display: block;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-card__skeleton + .hero-card__skeleton {
    width: 39px;
}

.hero-card__separate {
    margin: 20px 0;
    height: 2px;
    background: #f2f2f2;
    border-radius: 999px;
}

/* Hero Content */
.hero-content {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content__desc {
    margin-top: 24px;
    width: 391px;
}

.hero-content__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero-content__btn {
    padding: 0 30px;
    font-size: 1.6rem;
    border: none;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #fff;
}

.hero-content__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fffaf5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero-content__call {
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration-line: underline;
}

/* ================= About ================= */
.about {
    margin-top: 56px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 146px 0;
}

/* About content 1*/
.about__title {
    text-align: left;
}

.about_heading,
.about__desc {
    max-width: 444px;
}

.about__form {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    gap: 34px 36px;
}

.about__form-group {
    position: relative;
}

.about__form-input:checked ~ label::before {
    background-color: var(--primary-color);
    outline: transparent;
    cursor: pointer;
}

.about__form-input:checked ~ .about__form-icon {
    display: block;
    cursor: pointer;
    color: #fff;
}

.about__form-label {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    cursor: pointer;
    user-select: none;
}

.about__form-label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    outline: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 4px;
    transition: background-color 0.25s;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__form-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

/* About media 1*/
.about__media {
    position: relative;
}

.about__media-wrap {
    margin-left: auto;
    width: 494px;
    position: relative;
}

.about_media-img {
    margin: 0 auto;
    display: block;
}

.about__media-wrap::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about__media-decor {
    position: absolute;
    top: 149px;
    right: -50px;
    z-index: -1;
}

/* Card */
.about__card {
    padding: 31px 26px;
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    text-align: center;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #fff;
    font-family: var(--font-heading);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43; /* 142.857% */
}

.about__card-icon {
    position: absolute;
    top: -42px;
    right: -28px;
}

/* About media 2*/
.about__media-wrap--bottom {
    margin-left: 0;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__media-wrap--bottom::after {
    content: none;
}

.about_media-img--bottom {
    width: 100%;
}

.about__media-decor-img {
    position: absolute;
}

.about__media-decor-img:nth-child(1) {
    top: 12px;
    right: 63px;
}

.about__media-decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__media-decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__media-decor-img:nth-child(4) {
    right: -33px;
    top: 268px;
}

.about__media-decor-img:nth-child(5) {
    right: 19px;
    top: 336px;
}

.about__media-decor-img:nth-child(6) {
    right: -42px;
    bottom: -54px;
}
/* About content 2 */
.about_heading-bottom,
.about__desc-bottom {
    max-width: 516px;
}

.about__desc-bottom {
    margin-bottom: 54px;
}

.about__tab-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 56px;
}

.about__tab-item {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    column-gap: 12px;
}

.about__tab-icon {
    width: 20px;
}

.about__tab-title {
    white-space: nowrap;
    color: #48496a;
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__tab-item-active::after,
.about__tab-list::after {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #ffeee7;
    border-radius: 999px;
    position: absolute;
}

.about__tab-item-active::after {
    width: 95px;
    background: var(--primary-color);
    z-index: 1;
}

.about__tab-content-item {
    display: none;
}

.about__tab-content-item.about__tab-content-active {
    display: block;
}

.about__tab-content-desc {
    padding-top: 36px;
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.about__tab-more {
    margin-top: 32px;
    display: inline-block;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.about__tab-more:hover {
    opacity: 0.9;
}

.about__tab-more::after {
    content: "";
    display: block;
    margin-top: 5px;
    border-radius: 999px;
    width: 86px;
    height: 2px;
    background-color: var(--primary-color);
}

/* ================= Services ================= */
.service {
    margin-top: 185px;
    padding: 68px 0 100px;
    background: #fff6ed;
    position: relative;
    z-index: 1;
}

.service-heading {
    text-align: center;
}

.service__list {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}

.service-item__info {
    width: 294px;
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item__info + .service-item__info {
    margin-top: 24px;
}

.service-item__title {
    color: #000958;
    font-family: var(--font-heading);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.service-item__title::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 999px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    margin: 18px 0 24px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.service-item__action {
    display: inline-flex;
    column-gap: 6px;
    cursor: pointer;
}

.service-item__action :hover {
    opacity: 0.9;
}

.service-item__more {
    color: #34396a;
    font-family: var(--font-heading);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.service-item__wrap {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 18px;
}

.service-item__img {
    width: 100%;
}

.service-item__wrap::after {
    content: "";
    display: inline-block;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    z-index: -1;
}

.service__btn {
    --height: 56px;
    min-width: 214px;
    margin-top: 45px;
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    left: 50%;
    translate: -50% 0;
}
/* ================= Staff ================= */
.staff {
    margin-top: 130px;
}

.staff__heading,
.staff__title {
    text-align: center;
}

.staff__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff__item {
    text-align: center;
}

.staff__item--thumb {
    margin: 0 16px;
    position: relative;
    border-radius: 130px;
}

.staff__item--img {
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    border-radius: 130px;
}

.staff__item--thumb::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 95%;
    border-radius: 130px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__item:nth-child(2) .staff__item--thumb::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__item:nth-child(3) .staff__item--thumb::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__item:nth-child(4) .staff__item--thumb::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__item--thumb::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff__item:nth-child(1) .staff__item--thumb::after {
    background-image: url(../img/staff-decorate-1.svg);
}

.staff__item:nth-child(2) .staff__item--thumb::after {
    background-image: url(../img/staff-decorate-2.svg);
    background-position: 0 16px;
}

.staff__item:nth-child(3) .staff__item--thumb::after {
    background-image: url(../img/staff-decorate-3.svg);
}

.staff__item:nth-child(4) .staff__item--thumb::after {
    background-image: url(../img/staff-decorate-4.svg);
    background-position: 0 16px;
}

.staff__item-desc {
    margin: 30px 0 14px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.staff__item-name {
    color: #000958;
    font-family: var(--font-heading);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.staff__btn {
    --height: 56px;
    min-width: 193px;
    margin-top: 48px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
}
